/*
    Document   : base
    Created on : 20.03.2011, 17:49:27
    Author     : rauch
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
    background-color: #fff;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

div#container {padding: 0; margin: 0; background-color: #ffe4c4;  overflow: auto;}

/*#gridLayout {padding: 0; margin: 0; border: 3px solid red; border-spacing: 5px; overflow: auto;}*/

#header {background-color: silver; overflow: auto;}
#mainActions {background-color : silver; width: 75%; overflow: auto; float: left; margin-bottom: 1em; margin-top: 1em;}
/*#blanketCellHeader {width: 60%}*/
#authentication {background-color: silver; width: 25%; overflow: auto; float: right;}

#body {background-color: white; overflow: auto;}
#sidebar {background-color: #a9a9a9; width: 20%; overflow: auto; float: left; max-height: 900px}
/*#blanketCellContent {width: 60%; colspan : "2"}*/
#content {background-color: white; width: 80%; overflow: auto; float: right; max-height: 900px}

div#index_content {
    text-align: center;
    font-weight:bold;
    font-size:16pt;
}

label.H1 {
    font-weight:bold;
    font-size:larger;
    margin-left:3px;
}

label.H2 {
    font-weight:normal;
    font-size:large;
}

label.H3 {
    font-weight:normal;
    font-size:medium;
}

#sumbitScriptFormTable {
    width:99%;
    height:99%;
    border:solid black 1px;
}

#sumbitScriptFormTable>tbody>tr>td {
    border:solid black 1px;
}

.errorlist {
    color: red;
    font-size: 10pt;
    font-style:italic;
    padding-left: 10px;
    padding-bottom: 20px;
}

#id_executionCommands {
    width: 97%;
    margin:7px;

}

table.jobOptionsTable {
    padding-left:10px;
    cellspacing: 10px;
}

table.fileStagingTable {
    padding-left:10px;
}

#id_jobName {
    margin-left:10px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}


