{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/styles.css"/>
    {#    <link type="text/css" rel="stylesheet" href="/media/css/treegrid.css"/>#}
    <link type="text/css" rel="stylesheet" href="/media/jtable_themes/themes/lightcolor/gray/jtable.css"/>
    <link type="text/css" rel="stylesheet" href="/media/css/jquery-ui-1.8.18.custom.css"/>

    <script src="/media/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/media/js/jquery.jstree.js" type="text/javascript"></script>
    <script src="/media/js/jstreegrid.js" type="text/javascript"></script>
    <script src="/media/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
    <script src="/media/js/jquery.jtable.js" type="text/javascript"></script>
    <script src="/media/js/lavalamp.js" type="text/javascript"></script>
    <script src="/media/js/commonFunctions.js" type="text/javascript"></script>
    {% block header %}
        <title>{% block title %}PyTorque{% endblock %}</title>
        {% block additionalHeadContent %}{% endblock %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <meta name="google-site-verification" content="AoP7eFD74iQDawvS1-2gMP0Wvii13AxYz7rDwfNLjcs" />
</head>

<body>
<!-- Container -->
<div id="container">
    <!-- main_panel -->
    <div id="header" class="center outer_block">
        <div class="lavalamp">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/browse">Browse home directory</a></li>
                <li><a href="/monitor">Monitoring</a></li>
                <li><a href="/submit">Submition</a></li>
                <li><a href="/stat">Statistics</a></li>
                <!-- Authentication -->
                <div id="authentication">
                    {% block login %}
                        {% if user.is_authenticated %}
                            <pre>{% trans "Welcome " %}, <strong>{{ user.username }}</strong>. <a
                                    href="/logout/">logout</a> / <a
                                    href="/admin/">admin</a> </pre>
                        {% else %}
                            <pre>Welcome, new user. <a href="/login/">login</a> / <a href="/admin/">admin</a> </pre>
                        {% endif %}
                    {% endblock %}
                </div>
            </ul>
            <div class="floatr"></div>
        </div>
    </div>

    <!-- body -->
    <div id="body" class="center outer_block">
        <!-- Content -->
        <div id="content">
            {% block content %}{% endblock %}

            <script type="text/javascript">
                $(document).ready(function () {
                    var errMsg = "{{ errorMessage }}";
                    if (errMsg) {
                        showError(errMsg)
                    }

                    var infMsg = "{{ infoMessage }}";
                    if (infMsg) {
                        showInfo(infMsg)
                    }
                });
            </script>

            <div class="notification info">Info message</div>
            <div class="notification success">Successful operation message</div>
            <div class="notification warning">Warning message</div>
            <div class="notification error">Error message</div>
        </div>
        <!-- END Content -->
    </div>
</div>
</body>
</html>
