<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" media="all" href="{{MEDIA_URL}}css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/treegrid.css"/>
    <script src="{{MEDIA_URL}}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/jquery.jstree.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/jstreegrid.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/lavalamp.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}js/commonFunctions.js" type="text/javascript"></script>
    {% block header %}
        <title>{% block title %}PyTorque{% endblock %}</title>
    {% endblock %}
</head>

<body>
<!-- Container -->
<div id="container">
    <!-- main_panel -->
    <div id="header" class="center outer_block">
        <div class="lavalamp">
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="/browse">Browse home directory</a></li>
                <li><a href="/monitor">Monitoring</a></li>
                <li><a href="/submit">Submition</a></li>
                <li><a href="/stat">Statistics</a></li>
            </ul>
            <div class="floatr"></div>
        </div>
    </div>

    <!-- body -->
    <div id="body" class="center outer_block">
        <!-- File system browser -->
        {#        <div id="sidebar">#}
        {#            {% block sidebar %}#}
        {##}
        {#                {% if jsonTree %}#}
        {##}
        {#                    <script type="text/javascript">#}
        {##}
        {#                        Event.observe(window, "load", function (event) {#}
        {##}
        {#                            fileSystemTree = new Brq.TreeTable('{{ jsonTree|escapejs }}'.evalJSON(), $("sidebar"), {#}
        {#                                columnTitles:[#}
        {#                                    "Home Directory"#}
        {#                                ],#}
        {#                                index:false,#}
        {#                                zebra:true#}
        {#                            });#}
        {#                        });#}
        {#                    </script>#}
        {#                {% else %}#}
        {#                    <div align="center">#}
        {#                        <b> Home Directory </b>#}
        {#                    </div>#}
        {#                {% endif %}#}
        {#            {% endblock %}#}
        {#        </div>#}
        <!-- End file browser -->

        <!-- Content -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <!-- END Content -->
    </div>
</div>
</body>
</html>
