{% extends "pytorque/base.html" %}

{% load i18n %}

{% block title %}
    PyTorque statistics
{% endblock %}

{% block additionalHeadContent %}
    <script src="/media/js/highcharts.js" type="text/javascript"></script>
    <script src="/media/js/themes/chartit/gray.js" type="text/javascript"></script>

    {% load chartit %}
    {{ stat_charts|load_charts:"chart_container_time,chart_container_user" }}

    <script type="text/javascript">
        $(document).ready(function () {
            $.each(_chartit_hco_array, function (index, chartoptions) {
                chart = new Highcharts.Chart(chartoptions);
            });
        });
    </script>

{% endblock %}

{% block content %}
    <div class="center">
        <br>

        <div id='chart_container_time'> Chart will be rendered here</div>
        <div id='chart_container_user'> Chart will be rendered here</div>
    </div>
{% endblock %}